<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Person Maintenance</title>
  <script src="https://kit.fontawesome.com/0c2fd4e865.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="main.css">
</head>
<body>
<div id="container-overall">
  <div id="container-overall-person">

    <div class="fragment div-header-borders">
      <h1 class="h1-header">Person Maintenance</h1>
    </div>

    <div v-if="success" class="fragment div-messages">
      <h3 v-if="success" class="h3-message">Successfully Added/Updated</h3>
    </div>

    <div v-if="state==='search'" class="container-buttons fragment">
      <div class="container-buttons-search">
        <input type="text" class="elem-block" placeholder="Search By...">
        <select class="elem-block">
          <option value="name-first">First Name</option>
          <option value="name-last">Last Name</option>
          <option value="email-user">Email/User Name</option>
          <option value="phone">Phone</option>
        </select>
        <button class="elem-block" @click="searchClicked">Search</button>
      </div>
      <p style="text-align: center; margin: 8px;">or</p>
      <div class="container-buttons-new">
        <button class="elem-block" @click="addNewClicked">Add New Person</button>
      </div>
    </div>

    <div v-if="state==='edit'" class="fragment">

      <div v-for="p in persons" class="container-person-info">
        <h2 class="h2-person-title">{{p.person_last_name}}, {{p.person_first_name}}</h2>
        <hr class="hr-person-title">

        <div class="div-person-attribute">
          <label for="personFirstName" class="label-person-field">First Name:</label>
          <input id="personFirstName" class="input-person-field" v-model="p.person_first_name" type="text">
        </div>
        <div class="div-person-attribute">
          <label for="personLastName" class="label-person-field">Last Name:</label>
          <input id="personLastName" class="input-person-field" v-model="p.person_last_name" type="text">
        </div>

        <p v-if="error" class="input-error">All fields must be populated</p>

        <div class="div-person-buttons">
          <button @click="resetClicked">Reset</button>
          <button @click="saveClicked">Save Changes</button>
        </div>

        <div v-if="persons.length === 0">No persons returned</div>

      </div>
    </div>

    <div v-if="state==='add'" class="fragment">
      <h2>Create New User</h2>
      <div class="div-person-attribute">
        <label for="personFirstName" class="label-person-field">First Name:</label>
        <input id="personFirstName" class="input-person-field" v-model="newPerson.person_first_name" type="text">
      </div>
      <div class="div-person-attribute">
        <label for="personLastName" class="label-person-field">Last Name:</label>
        <input id="personLastName" class="input-person-field" v-model="newPerson.person_last_name" type="text">
      </div>
      <p v-if="error" class="input-error">Please fill out all fields</p>

      <div class="div-person-buttons">
        <button @click="resetClicked">Reset</button>
        <button @click="saveClicked">Save Changes</button>
      </div>
    </div>

  </div>
  <h1 class="date-huge">{{currentDate}}</h1>
</div>


<script src="https://unpkg.com/vue"></script>
<script>

  new Vue({
    el: '#container-overall',
    data: {
      state: 'search',
      header: 'Person Maintenance',
      success: false,
      error: false,
      currentDate: (new Date()).toLocaleDateString('en-US'),
      newPerson: {},
      persons: [
        {
          person_first_name: 'John',
          person_last_name: 'Smith',
        },
        {
          person_first_name: 'Jenny',
          person_last_name: 'Miller',
        },
      ]
    },
    // Computed properties are only for transforming data for the presentation layer
    //  DO NOT alter or mutate existing data in a computed property!
    computed: {},
    // When you need to change data, use a method
    methods: {
      searchClicked: function () {
        this.state = 'edit'
      },
      addNewClicked: function () {
        this.resetNewPerson();
        this.state = 'add'
      },
      resetClicked: function () {
        this.resetNewPerson();
        this.state = 'search';
        this.error = false;
        this.success = false;
      },
      saveClicked: function () {
        const {person_first_name, person_last_name} = this.newPerson;

        if ( person_first_name && person_last_name ) {
          this.persons.push({
            person_first_name,
            person_last_name,
          });
          this.resetNewPerson();
          this.state = 'search';
          this.success = true;
          this.error = false;
        } else {
          this.error = true;
        }
      },
      resetNewPerson: function() {
        this.newPerson = {
          person_first_name: '',
          person_last_name: '',
        }
      },
    },
  });
</script>
</body>
</html>