
body {
    background: #fff;
    height: 100vh;
    width: 100vw;
    font-family: system-ui, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
}

h1 {
    text-align: center;
    margin: 0;
    padding: 0;
}


.elem-block {
    display: block;
    width: 100%;
}
.fragment {
    margin: 0;
    padding: 0;
}

#container-overall {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#container-overall-person {
    text-align: center;
    min-width: 600px;
    max-width: 600px;
}

.div-header-borders {
    border-top: 4px solid black;
    border-bottom: 4px solid black;
    margin-bottom: 32px;
}
.h1-header {
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 8px;
}
.h3-message {
    margin: 0;
    padding: 0;
}

.div-messages {
    padding: 16px;
}

.container-buttons {

}

.container-buttons-search {
    margin-top: 0px;
    margin-bottom: 0px;
}

.container-buttons-new {
    margin-top: 0px;
}

.container-buttons-search>* {
    margin-top: 10px;
}

.container-person-info {
    background-color: azure;
    border: 1px solid skyblue;
    padding: 16px 32px 16px 32px;
    margin: 36px;
    box-shadow: rgba(0, 0, 0, 0.15) 0 8px 16px 0;
}

.h2-person-title {
    margin: 0 0 0 0;
}

.hr-person-title {
    margin: 0;
    padding: 0;
}

.div-person-attribute {

}
.div-person-attribute:first-of-type {
    margin-top: 16px;
}

.div-person-buttons {
    margin-top: 16px;
}


.label-person-field {
    color: darkgray;
    display: inline-flex;
}

.input-person-field {

}

.input-error {
    color: red;
}

.date-huge {
    margin: 0;
    padding: 0;
    font-size: 144px;
    color: #f2f2f2;
    text-align: center;
    position: fixed;
    bottom: 0;
    z-index: -1;
}