body {
    background: #bbbbbb;
    height: 100vh;
    width: 100vw;
    font-family: system-ui, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

#shopping-list {
    background: #EFF8FF;
    padding: 2rem;
    margin: 1rem;
    border-radius: 3px;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.12), 0 4px 6px 0 rgba(0,0,0,0.08);
    width: 95%;
    max-width: 900px;
}

h1 {
    color: #456caf;
}

ul {
    list-style: none;
    padding: 0;
}

li, p {
    color: #22292F;
    display: flex;
    align-items: center;
    line-height: 1.75;
    letter-spacing: .5px;
    font-size: 1.25rem;
    cursor: pointer;
    transition: all .1s ease-in;
}

li:hover {
    color: #1e242a;
}

li input {
    margin: 0 .5rem 0;
}

#shopping-list > input, #shopping-list > select {
    width: 100%;
    border-radius: 3px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
    border: 1px solid #F1F5F8;
    color: #606F7B;
    padding: .5rem .75rem;
    box-sizing: border-box;
    font-size: 1rem;
    letter-spacing: .5px;
    margin: .5rem 0
}

.add-item-form, .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    text-align: center;
}

.add-item-form input {
    width: 70%;
    border-radius: 3px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
    border: 1px solid #F1F5F8;
    color: #606F7B;
    padding: .5rem .75rem;
    box-sizing: border-box;
    font-size: 1rem;
    letter-spacing: .5px;
    margin: .5rem 0;
}

.btn {
    border: none;
    border-radius: 3px;
    margin: auto 0;
    padding: .5rem .75rem;
    flex-shrink: 0;
    cursor: pointer;
    font-size: .9rem;
    letter-spacing: .5px;
    transition: all .1s ease-in;
}

.btn[disabled] {
    background: #8795A1;
}

.btn[disabled]:hover {
    background: #606F7B;
}

.btn-add {
    background: #60bdb9;
    color: #fff;
}

.btn-add:hover {
    background: #56aaa6;
}

.btn-primary {
    background: #4e7765;
    color: #fff;
}

.btn-primary:hover {
    background: #466b5a;
}

.btn-cancel {
    background: #c06457;
    color: #fff;
}

.btn-cancel:hover {
    background: #ac5a4e;
    color: #fff;
}

.btn-item {
    display: inline;
}

.fa-spacing {
    margin-right: 10px;
}

.strikeout {
    text-decoration: line-through;
    color: #aaaaaa !important;
}

.priority {
    font-weight: bold;
    color: #1b2025;
}